h1 {
    color: #121481;
    padding: 2%;
    font-size:400%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 150%;
    color: #7469B6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 2%;
    text-align: center;
}

ul {
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 1%;
    text-align: center;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 2%;
}

body {
    background-color: #E1AFD1;
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10, #b11, #b12 {
    background-color: #37b0c9;
    border-radius: 15px;
    transition-duration: 500ms;
    padding: 10px 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 500px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover, #b5:hover, #b6:hover, #b7:hover, #b8:hover, #b9:hover, #b10:hover, #b11:hover, #b12:hover{
    border-radius: 10px;
    background-color: #f140a9;
}